{extend name="iframe" /}
{block name="css"}
<style type="text/css">
    body{
        background: #f1f1f1;
    }
    .content-wrapper-box{
        padding: 10px;
    }
    .content-wrapper{
        padding: 10px 16px;
        background: #ffffff;
        border: 1px solid #ececec;
    }
    ol li{
        font-size: 16px;
        padding: 3px 0;
    }
</style>
{/block}
{block name="content"}
<div class="container-fluid content-wrapper-box">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h3>SplAdmin 采用thinkphp5.1开发 <br> 一键生成CURD  参考fastadmin</h3>
                <h4>前端部分采用以下插件 排名不分先后</h4>
                <ol>
                    <li>adminLTE后台前端框架</li>
                    <li>bootstrap响应式框架</li>
                    <li>bootstrap-daterangepicker日期范围选择器</li>
                    <li>bootstrap-datetimepicker时间选择器</li>
                    <li>bootstrap-switch开关按钮</li>
                    <li>bootstrap-table表格可视化</li>
                    <li>font-awesome字体图标</li>
                    <li>jquery类库</li>
                    <li>jquery-fileupload文件上传</li>
                    <li>jquery-form表单ajax提交</li>
                    <li>jquery-validate表单验证器</li>
                    <li>js-tree树形结构</li>
                    <li>layer弹窗</li>
                    <li>moment.js时间转换</li>
                    <li>toastr消息提示框</li>
                    <li>ueditor百度编辑器</li>
                </ol>
            </div>
            <div class="col-sm-6 col-xs-12">
                <h4>后端框架</h4>
                <ol>
                    <li>thinkphp5.1</li>
                </ol>
                <h4>环境 PHP5.6 + Mysql5.5 + Apache</h4>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="script"}
{/block}