/* for Chrome */
.tab-menu::-webkit-scrollbar {
    display: none;
}
html{
    overflow: hidden;
}
.content-wrapper{
    background: #ffffff;
}
.content-iframe{
    width: 100%;
}
#tab-content{
    width: 100%;
    height: 100%;
}
.default-iframe{
    display: none;
}
.active-iframe{
    display: block;
}
.content-tabs{
    height: 40px;
    line-height: 40px;
    position: relative;
}
.content-tabs button{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline;
    border: none;
    background: #ffffff;
    color: #222d32;
    z-index: 2;
    outline: none;
}
.content-tabs button:hover{
    background: #222d32;
    color: #ffffff;
}
.content-tabs .tabLeft{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    margin: auto;
}
.content-tabs .tabRight{
    position: absolute;
    top:0;
    bottom:0;
    right:80px;
    margin: auto;
}
.content-tabs .tabMenu{
    position: absolute;
    top:0;
    bottom:0;
    right:40px;
    margin: auto;
}
.content-tabs .tabMenu button{
    color: #ffffff;
}
.content-tabs .tabMenu button:hover{
}
.content-tabs .tabFresh{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    margin: auto;
    background: #00be5f;
    color: #ffffff;
}
.content-tabs .tabFresh:hover{
    background: #00e573;
    color: #ffffff;
}
.tab-menu{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding:0 120px 0 40px;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 0;
    z-index: 1;
    user-select: none;
}
.tab-menu .tab-item-btn{
    display: inline-block;
    padding: 0 20px;
    /*border-left: 1px solid #ececec;*/
    overflow: hidden;
    font-size: 14px;
    color: #555555;
    position: relative;
}
.tab-menu .tab-item-btn:first-child{
    border-left: none;
}
.tab-menu .tab-item-btn:hover{
    cursor: pointer;
    color: #ffffff;
}
.tab-menu .tab-item-btn .tab-item-close{
    position: absolute;
    top:2px;
    right:2px;
    font-size: 12px;
    color: #ffffff;
    display: none;
}
.tab-menu .active_tab{
    color: #ffffff;
}


.skin-blue .tab-menu .tab-item-btn:hover,.skin-blue .tab-menu .active_tab,.skin-blue .content-tabs .tabMenu button{background: #3883af;}
.skin-blue .content-tabs .tabMenu button:hover{background: #4aa2ec;}

.skin-black .tab-menu .tab-item-btn:hover,.skin-black .tab-menu .active_tab,.skin-black .content-tabs .tabMenu button{background: #000000;}
.skin-black .content-tabs .tabMenu button:hover{background: #333333;}

.skin-red .tab-menu .tab-item-btn:hover,.skin-red .tab-menu .active_tab,.skin-red .content-tabs .tabMenu button{background: #cd4635;}
.skin-red .content-tabs .tabMenu button:hover{background: #f4533f;}

.skin-yellow .tab-menu .tab-item-btn:hover,.skin-yellow .tab-menu .active_tab,.skin-yellow .content-tabs .tabMenu button{background: #e69411;}
.skin-yellow .content-tabs .tabMenu button:hover{background: #f3c51c;}

.skin-purple .tab-menu .tab-item-btn:hover,.skin-purple .tab-menu .active_tab,.skin-purple .content-tabs .tabMenu button{background: #545193;}
.skin-purple .content-tabs .tabMenu button:hover{background: #7974d3;}

.skin-green .tab-menu .tab-item-btn:hover,.skin-green .tab-menu .active_tab,.skin-green .content-tabs .tabMenu button{background: #00914e;}
.skin-green .content-tabs .tabMenu button:hover{background: #00d372;}

.skin-blue-light .tab-menu .tab-item-btn:hover,.skin-blue-light .tab-menu .active_tab,.skin-blue-light .content-tabs .tabMenu button{background: #3883af;}
.skin-blue-light .content-tabs .tabMenu button:hover{background: #4aa2ec;}

.skin-black-light .tab-menu .tab-item-btn:hover,.skin-black-light .tab-menu .active_tab,.skin-black-light .content-tabs .tabMenu button{background: #000000;}
.skin-black-light .content-tabs .tabMenu button:hover{background: #333333;}

.skin-red-light .tab-menu .tab-item-btn:hover,.skin-red-light .tab-menu .active_tab,.skin-red-light .content-tabs .tabMenu button{background: #cd4635;}
.skin-red-light .content-tabs .tabMenu button:hover{background: #f4533f;}

.skin-yellow-light .tab-menu .tab-item-btn:hover,.skin-yellow-light .tab-menu .active_tab,.skin-yellow-light .content-tabs .tabMenu button{background: #e69411;}
.skin-yellow-light .content-tabs .tabMenu button:hover{background: #f3c51c;}

.skin-purple-light .tab-menu .tab-item-btn:hover,.skin-purple-light .tab-menu .active_tab,.skin-purple-light .content-tabs .tabMenu button{background: #545193;}
.skin-purple-light .content-tabs .tabMenu button:hover{background: #7974d3;}

.skin-green-light .tab-menu .tab-item-btn:hover,.skin-green-light .tab-menu .active_tab,.skin-green-light .content-tabs .tabMenu button{background: #00914e;}
.skin-green-light .content-tabs .tabMenu button:hover{background: #00d372;}